.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}
body { 
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(44, 3, 3, 0.028) 0%, rgba(4, 6, 175, 0.342) 100%);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
#todo-container {
  background: rgb(41, 33, 33);
  width: 90%;
  margin: 0 auto;
  border: 2px solid #0033ff;
  padding: 20px;
  color: rgb(255, 4, 4);
  border-radius: 15px;
}
#todo-container {
  background: rgb(42, 1, 48);
  width: 400px;
  margin: 0 auto;
  border: 1cap solid #431d9c;
  padding: 20px;
  color: white;
  border-radius: 15px;
}
#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px; 
}

#addtask {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#submit {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #9679d4;
}

#submit:hover {
  background-color: #9eb7fd; 
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align:left;

}

li {
border: 1px solid white;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
margin-top: 10px;
}

.edit-btn, .delete-btn {
  float: right;
  color:rgb(147, 128, 255);
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
} 

.completed {
  text-decoration: line-through;
  color: rgb(127, 126, 196);
  border: 1px solid gray;
}
* { box-sizing: border-box; }
